/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

* {
  padding: 0;
  margin: 0;
}
#root {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #000;
}

.aside-menu {
  min-width: 300px;
  max-width: 350px;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #363636;
  align-items: center;
}

.aside-menu a {
  color: #f3f3f3;
  font-size: 36px;
  border-bottom: 1px solid #b6b6b6;
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  transition: 0.1s;
}
.aside-menu a:hover {
  background-color: #242424;
}

.button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  width: 250px;
  border: none;
  background-color: #363636;
  color: #f3f3f3;
  font-size: 1.3rem;
  transition: 0.1s;
  cursor: pointer;
}
.button:hover {
  background-color: #242424;
}
.btns {
  display: flex;
  justify-content: space-around;
}

.main-section {
  width: 100%;
  padding: 10px 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 50px;
  justify-items: center;
}
.project-card {
  background-color: #363636;

  width: 530px;
  height: 150px;
  border-radius: 4px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}
.button-blue {
  background-color: #2a68a3;
}

.button-blue:hover {
  background-color: #1b5891;
}
.project-option-screen .button-blue {
  background-color: #363636;
}
.project-option-screen .button-blue:hover {
  background-color: #242424;
}
.project-card:hover {
  background-color: #1f1f1f;
}
.project-card h1 {
  color: #f3f3f3;
}
.project-card h3 {
  color: #f3f3f3;
}

.path-button {
  border-radius: 4px;
  font-size: 11px;
  padding: 5px;
}

.path-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.path-button:hover {
  background-color: #464646;
}

.path-button img {
  width: 20px;
  height: 20px;

  filter: invert(1);
}

.project-option-screen {
  width: 100%;
  padding: 15px 20px;
}

.project-option-screen h1 {
  font-size: 40px;
}

.dep {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-button img {
  width: 20px;
  height: 20px;
}

.img-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dep button:hover {
  background-color: #bebebe;
}

.package-card {
  width: 400px;
  max-width: 450px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keywords {
  display: flex;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.keywords div {
  display: inline-block;
  background-color: #d3d3d3;
  padding: 2px 3px;
  border-radius: 2px;
  white-space: nowrap;
}

.package-card h2 {
  display: flex;
  align-items: center;
}

.package-card a {
  font-size: 13px;
}

.package-card a:hover {
  background-color: #d3d3d3;
}

.dependencies-control {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.founded-packages {
  height: 400px;
  overflow-y: scroll;
  border: 1px solid #c4c4c4;
  padding: 10px;
}
